.validate {
  margin-left: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  color: rgba(255, 0, 0, 0.8);
  animation: shake 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes shake {
  0%,
  100% {
    left: 0;
  }
  5%,
  35%,
  65%,
  95% {
    left: 3px;
  }
  20%,
  50%,
  80% {
    left: -3px;
  }
}
