@import "../Distributor.scss";

.distributor__heading {
  margin-bottom: 30px;
}
.purchase-form {
  padding-top: 50px;
  display: flex;
  align-items: center;
  padding-right: 150px;

  .purchase-form-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .distributor-form-input {
    padding: 10px 13px;
    min-width: calc(300% + 50px);
  }

  .purchase-submit-btn {
    width: 250px;
    height: 44px;
    position: relative;
    top: 13px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    color: var(--white-color);

    &:hover {
      background-color: var(--hover-color);
      border: 1px solid var(--hover-color);
      color: #333;
    }
  }
}
