.distributor-wrap {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px 64px;

  .distributor__btn {
    margin: 20px 0px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 10px;
    border-radius: 15px;

    &:hover {
      background-color: var(--hover-color);
      color: #333;
    }
  }
  .distributor__btn--right {
    float: right;
  }
  .distributor__btn--left {
    float: left;
  }
}

//Heading
.distributor__heading + .distributor__table {
  margin-top: 80px;
}

.distributor__heading {
    font-size: 3.5rem;
  color: var(--primary-color);
  position: relative;
  top: 15px;
}


//Table
.ant-table-cell {
    background-color: #fff !important;
  }

  .table__delete-btn {
    cursor: pointer;
    &:hover {
      color: #ff1a1a;
    }
  }

  .ant-table-tbody > tr > td {
    padding: 20px;
  }

  //Table search
  .ant-dropdown-trigger {
    color: #333;
    font-size: 1.5rem;
  }

  .ant-table-filter-dropdown {
    position: relative;
    left: 60px;
    border-radius: 3px;
    max-width: 380px;
  }
  .ant-table-filter-dropdown > div > div {
    padding: 10px 5px 3px 5px;
    width: 100%;
  }

  .ant-table-filter-dropdown .ant-btn {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-btn > .anticon {
    font-size: 1.6rem;
    margin-right: 3px;
  }

  //Manager Form
.distributor-form {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
  
    label {
      min-width: 150px;
      text-align: left;
      height: 50px;
      margin-bottom: 0;
    }
  
    .distributor-form-input {
      padding: 10px 13px;
    }
  
    .distributor-submit-btn {
      width: 80%;
      height: 44px;
      margin-top: 10px;
      position: relative;
      left: 75px;
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
      border-radius: 10px;
      color: var(--white-color);
  
      &:hover {
        background-color: var(--hover-color);
        border: 1px solid var(--hover-color);
        color: #333;
      }
    }
  }

  .table__confirm-btn {
    cursor: pointer;
    color: #4bb543;
    font-weight: 500;

    &:hover {
        color: green;
    }
}