.toast {
  position: absolute;
  bottom: 20px;
  left: 100%;
  z-index: 999;
}

.toast-wrapper {
  width: 500px;
  height: 70px;
  padding: 10px;
  display: flex;
}

.toast-item {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  display: flex;
  justify-content: space-between;
  animation: move 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  align-items: center;
  transform: scale(1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.toast-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.heading {
  position: absolute;
  left: 0;
  height: 100%;
  width: 1%;
}

.toast-message {
  display: flex;
  align-items: center;
  gap: 10px;
}

.error {
  background: red;
}

.success {
  background: rgb(52, 116, 255);
}

.error-c {
  color: red;
}

.success-c {
  color: rgb(52, 116, 255);
}

.toast-close {
  transition: all 0.2s;
  color: lightgrey;
}

.toast-close:hover {
  color: grey;
}

@keyframes move {
  0%,
  100% {
    left: 0;
  }
  10%,
  90% {
    left: calc(-1 * (100% + 40px));
  }
}
