.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}

.submit {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: rgb(0, 216, 108);
  color: white;
  font-size: 24px;
  font-weight: 100;
}
