.card {
  padding: 15px;
  margin: 0 20px 20px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
  background: #fff;
}
