$primary-background-color: #f8f8f8;

@mixin content-layout {
  background: $primary-background-color;
  height: 100vh;
  flex: 1;
  overflow-x: hidden;
}

@mixin limitedTextRow($numberOfLine) {
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $numberOfLine; /* number of lines to show */
  line-clamp: $numberOfLine;
  -webkit-box-orient: vertical;
}
