.password,
.text-field,
.number-field,
.checkbox,
.drop-list,
.pick-date {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px 20px;
}

.password label,
.text-field label,
.number-field label,
.drop-list label,
.pick-date label {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox input {
  width: fit-content;
}

.checkbox label {
  flex: 1;
}

.password .input,
.text-field .input,
.number-field .input,
.drop-list .input,
.pick-date .input {
  border-radius: 5px;
  border: 1px solid #555;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 216, 108);
}

.password input,
.text-field input,
.number-field input,
.drop-list input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  outline: none;
  border: 0;
  font-size: 20px;
}

.pick-date input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  outline: none;
  border: 0;
  font-size: 18px;
}

.pick-date fieldset {
  display: none;
}

.pick-date .input > div {
  width: 100%;
}

.password .iconInput,
.text-field .iconInput,
.number-field .iconInput,
.drop-list .iconInput {
  border-left: 1px solid #000;
  padding-left: 5px;
  margin-left: 10px;
}

.dropdown {
  cursor: pointer;
  border-left: 1px solid #000;
  padding: 0 15px;
  height: 100%;
  color: #555;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox input {
  margin-left: 5px;
}

.list-choice {
  width: calc(100% - 20px);
  z-index: 2;
  top: 76%;
  position: absolute;
  display: block;
  background: #fff;
  border-radius: 5px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
}

.list-choice.hide {
  display: none;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  height: 40px;
  padding-left: 10px;
}

.choice:hover {
  background: #eee;
  border-radius: 5px;
}
