.data-col {
  width: 50px;
  animation: ani 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.data-col h4 {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
}

.value {
  width: 100%;
  background: rgb(202, 211, 82);
}

@keyframes ani {
  0% {
    height: 0;
  }
  100% {
    height: 80%;
  }
}
